<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        

        <div class="container">
            <!-- Datepicker ocupando 3 colunas e centralizado -->
            <div class="row">
                <div class="col-md-3">
                    <datepicker-views-selection (dateChanged)="onDateChanged($event)"></datepicker-views-selection>
                </div>
            </div>
        
            <!-- Select e Filter na mesma linha -->
            <div class="row filter">
                <!-- Select ocupando 3 colunas -->
                <div class="col-md-3">
                    <mat-form-field appearance="fill" class="select-field">
                        <mat-select [(value)]="selectedOption" (selectionChange)="onSelectionChange($event.value)" [ngClass]="{
                              'select-laranja': selectedOption === 'transacoes',
                              'select-vermelho': selectedOption === 'despesas',
                              'select-verde': selectedOption === 'receitas'
                            }">
                            <mat-option value="transacoes">Transações</mat-option>
                            <mat-option value="despesas">Despesas</mat-option>
                            <mat-option value="receitas">Receitas</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
        
                <!-- Filter ocupando 4 colunas -->
                <div class="col-md-3">
                    <mat-form-field class="filter-field">
                        <mat-label>Filtrar</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Receita" #input>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="situacao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Situação </th>
                    <td mat-cell *matCellDef="let row"> {{row.situacao}} </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
                    <td mat-cell *matCellDef="let row"> {{row.data}} </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="descricao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
                    <td mat-cell *matCellDef="let row"> {{row.descricao}} </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="categoria">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
                    <td mat-cell *matCellDef="let row"> {{row.categoria}} </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                    <td mat-cell *matCellDef="let row"> {{row.valor}} </td>
                </ng-container>

                <!-- Ações -->
                <ng-container matColumnDef="acoes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>

        <!-- Cartões de resumo -->
        <div class="summary-cards">
            <mat-card class="card">
                <mat-card-header>
                    <mat-icon>attach_money</mat-icon>
                    <mat-card-title>Receitas</mat-card-title>
                </mat-card-header>
                <mat-card-content>R$ 0,00</mat-card-content>
            </mat-card>

            <mat-card class="card">
                <mat-card-header>
                    <mat-icon>money_off</mat-icon>
                    <mat-card-title>Despesas</mat-card-title>
                </mat-card-header>
                <mat-card-content>R$ 0,00</mat-card-content>
            </mat-card>

            <mat-card class="card">
                <mat-card-header>
                    <mat-icon>balance</mat-icon>
                    <mat-card-title>Balanço Mensal</mat-card-title>
                </mat-card-header>
                <mat-card-content>R$ 0,00</mat-card-content>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>