<div class="container_x">
    <div class="container" id="container" [class.right-panel-active]="isSignUpActive">
        <div class="form-container sign-up-container">
            <form [formGroup]="loginForm" (ngSubmit)="toggleSignUp()">
                <h1 class="margin-bottom">Criar Conta</h1>
                <input type="text" formControlName="login" placeholder="Nome" aria-label="Nome">
                <input type="email" formControlName="email" placeholder="Email" aria-label="Email">
                <input type="password" formControlName="password" placeholder="Senha" aria-label="Senha">
                <button class="margin-top" type="submit" [disabled]="loginForm.invalid">Criar</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h1 class="margin-bottom">Fazer Login</h1>
                <input type="email" formControlName="login" placeholder="Email" aria-label="Email">
                <input type="password" formControlName="password" placeholder="Senha" aria-label="Senha">
                <a href="#" (click)="preventDefault($event)" style="cursor: not-allowed;">Esqueceu sua senha?</a>
                <button type="submit" [disabled]="loginForm.invalid">ACESSAR</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bem-vindo novamente!</h1>
                    <p>Para continuar conectado conosco, faça login com suas informações pessoais</p>
                    <button class="ghost" (click)="toggleSignIn()">Entrar</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Olá! <br> Deseja criar sua conta?</h1>
                    <p>Insira seus dados pessoais e comece sua jornada conosco</p>
                    <button class="ghost" (click)="toggleSignUp()">CADASTRAR</button>
                </div>
            </div>
        </div>
    </div>
</div>
